@import "variables";
.voucherslider-area {
  .tagline {
    color: #666;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .parent-background {
    position: relative;
    background: linear-gradient(
      213deg,
      rgba(222, 191, 244, 1) 0%,
      rgba(255, 178, 178, 1) 50%,
      rgba(255, 215, 158, 1) 100%
    );
    border-radius: 10px;
    padding: 20px;
    .child-background {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      .info-voucher {
        border-right: 2px dashed black;
        display: flex;
        flex-wrap: wrap;
        text-align: start;
        align-self: stretch;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        .voucher {
          font-size: 30px;
          font-weight: 800;
        }
        .valid {
          font-size: 18px;
          margin-top: 10px;
          display: flex;
          .number {
            color: #ff6347;
            font-family: $leckerlione;
            font-size: 30px;
            font-weight: 800;
          }
          .currency {
            color: #333;
            padding-left: 0px;
            font-weight: 600;
            line-height: 1;
            order: 1;
          }
        }
        .due-date {
          font-size: 15px;
          margin-top: 10px;
          color: #666;
          text-align: center;
        }
        .first-content {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-size: 14px;
          font-weight: 400;
          margin-top: 5px;
        }
      }
      .info-code-voucher {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .second-content {
          font-size: 16px;
        }

        .text-enter-code {
          width: 100%;
          text-align: center;
          border-bottom: 1px solid #000;
          line-height: 0.1em;
          margin: 20px 0 10px;
          span {
            background: #fff;
            padding: 0 10px;
          }
        }

        .code {
          text-align: center;
          width: fit-content;
          font-family: $kleeone;
          font-size: 24px;
          font-weight: bold;
          color: rgba(213, 29, 29, 0.742);
          background-color: rgb(252, 227, 243);
          border: 3px solid;
          border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
          padding: 4px;
          margin-bottom: 8px;
        }

        .quantity {
          font-size: 14px;
          margin-top: 10px;
          color: #333;
        }
      }
    }
  }
}
