.order-main-area {
  @media #{$xs-layout} {
    &.pb-100 {
      padding-bottom: 60px;
    }
  }

  .order-wrap {
    font-size: 16px;
    padding: 38px 45px 34px;
    background: #f6f6f6;
    margin-bottom: 18px;

    @media #{$lg-layout} {
      padding: 30px 20px 36px;
    }

    @media #{$xs-layout} {
      padding: 30px 20px 36px;
    }

    .order-product-info {
      .order-top {
        font-size: 16px;

        ul {
          display: flex;
          justify-content: space-between;
        }

        .order-id-date {
          p {
            font-size: 16px;
            font-weight: 600;
          }

          p.order-datetime {
            color: #666;
            font-weight: 400;
          }
        }

        .order-status {
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $theme-color;
        }

        .order-status-qty {
          p {
            font-size: 16px;
            display: flex;
            justify-content: end;
          }
        }
      }

      .order-middle {
        margin: 20px 0 0;
        padding: 15px 0;
        border-top: 1px solid #dee0e4;

        ul {
          li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
          }
        }
      }

      .order-details-middle {
        margin: 20px 0 0;
        padding: 15px 0;
        border-top: 1px solid #dee0e4;

        ul {
          display: flex;
          flex-direction: column;
          gap: 14px;

          span {
            font-weight: 600;
          }

          p {
            font-size: 16px;
          }
        }
      }

      .order-bottom {
        padding: 15px 0;
        border-top: 1px solid #dee0e4;

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 16px;

          li {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
          }

          li.order-shipping {
            font-size: 16px;
            font-weight: 400;
            color: #212121;
          }

          p {
            font-size: 16px;
          }
        }
      }

      .order-total-wrap {
        margin: 0 0 20px;
        padding: 17px 0 10px;
        border-top: 1px solid #dee0e4;

        ul {
          li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            list-style: outside none none;
            margin-bottom: 10px;
            span.order-total {
              font-weight: 500;
              color: #212121;
              font-size: 18px;
            }
            .order-total-price {
              font-weight: 500;
              color: $theme-color;
              font-size: 18px;
            }
          }
        }
      }
    }
    .order-details-link-wrapper {
      display: flex;
      justify-content: space-between;
      span {
        color: #666;
      }
    }
    .order-details-link {
      display: flex;
      justify-content: end;
      gap: 30px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }
      button {
        border: 1px solid #333;
        border-radius: 5px;
        color: #333;
        font-weight: 500;
        line-height: 1;
        padding: 10px 26px;
        transition: all 0.3s ease 0s;
        &:hover {
          background-color: $theme-color;
          color: #fff;
          border: 1px solid $theme-color;
        }
      }
    }
  }
}

h3.order-page-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 15px;
}
.product-rating-review {
  padding-bottom: 20px;
  .product-thumbnail {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    .img-fluid {
      width: 100px;
      height: 127px;
      border: 1px solid #ccc;
    }
  }
  .rating-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    .product-rating {
      display: flex;
      gap: 12px;
      i {
        font-size: 24px;
        cursor: pointer;
        &.yellow {
          color: #ffa900;
        }
      }
    }
  }
  .review-area {
    .review-header,
    .edit-review-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 6px;
    }
    .edit-review-btn {
      gap: 8px;
      .edit-save-btn {
        padding: 4px 12px;
      }
      .loading-send {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
    .review-content {
      background-color: $bg-grey;
      height: 100px;
      padding: 10px;
    }
    textarea {
      height: 140px;
      margin-bottom: 20px;
      padding: 20px 10px 2px 20px;
      background-color: transparent;
      &:focus {
        border: 2px solid #eceff8;
      }
    }
  }
}
.review-rating-btn,
.edit-save-btn {
  color: #fff;
  border: 1px solid $theme-color;
  background-color: $theme-color;
  transition: all 0.3s ease 0s;
  &:hover {
    border: 1px solid #333;
    background-color: #333;
  }
}
.review-rating-btn {
  .loading-send {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  font-weight: 500;
  line-height: 1;
  padding: 10px 26px;
}
.product-quickview-modal-wrapper {
  .modal-dialog {
    width: 890px;
  }
}
.content-container {
  max-width: 780px;
  margin: 0 auto;
  .icon-speaker {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      margin-bottom: 24px;
      font-size: 30px;
      font-weight: bold;
      color: $theme-color;
      background-color: #f4ecfb;
      padding: 20px;
      border-radius: 50%;
    }
  }
  p {
    font-size: 17px;
  }
}
