.first_section {
    background-color: #e3daed;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
}

.first_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}